<div class="header">
    <app-player [btnDelet]="btnDelet"></app-player>

    <!-- pour afficher mes joueurs -->
    <div class="joueur" *ngFor="let player of players">
        <img class="avatar" src={{player.avatar}}>
        <p class="txt_score">{{player.score}}</p>
    </div>
</div>

<!-- pour mon centre bravo + avatar  -->
<div class="main" (click)="showConfetti()">
    <div class="bravat">
        <!-- <p class="bravo"> bravo </p> -->
        <img src={{winnerAvatar1}}>
        <div class="resul-score">Score : {{winnerScore1}}</div>
        <img *ngIf="equality" src={{winnerAvatar2}}>
        <div *ngIf="equality" class="resul-score">Score : {{winnerScore2}}</div>
        <p *ngIf="equality" class="resul-score">Egalité !</p>
    </div>
    <canvas class="canvas"></canvas>
    <!-- ajout d'un canvas pour mon API -->
</div>

<div class="footer">
    <div class="boutons">
        <div class="btn2">
            <span class="linemoove"></span>
            <span class="linemoove"></span> <!-- 4spans pour faire mes 4 contours de mon bouton  -->
            <span class="linemoove"></span>
            <span class="linemoove"></span>
            <span (click)="rejouer()">Game</span>
        </div>
    </div>
</div>
